<h1>ForRoot() and ForChild() Routes</h1>
<h2>Plus Reactive Forms Techniques</h2>

<p>
  This project features multiple modules, multiple router modules and
  two techniques for implementing reactive forms across components
  and sub-components.
</p>
<p>
  The project is configured to use root modules, however, it should be
  easy to re-configure to use standalone components.
</p>
<p>
  The reactive forms example in this project comes from an article on
  <a href="https://angular.love/">
    Angular Love
  </a>
  about
  <a href="https://angular.love/implementing-reusable-and-reactive-forms-in-angular">
    Implementing reusable and reactive forms in Angular
  </a>
  . The rest of the resources listed are articles that I am wanting to
  read to further my knowledge of reactive forms.
</p>
<p>
  The last article is a great article on the angular router.
</p>

<ul>
  <li><a href="https://angular.love/angular-forms-reactive-design-patterns-catalog">Angular Forms: reactive design
    patterns catalog</a></li>
  <li><a
    href="https://angular.love/exploring-the-difference-between-disabling-a-form-control-through-reactive-forms-api-and-html-attributes">Exploring
    the difference between disabling a form control through reactive forms API and HTML attributes</a>
  </li>
  <li><a href="https://angular.love/4040">Template Driven Forms and Reactive Forms</a></li>
  <li><a href="https://angular.love/typed-forms-2">Typed Forms - 2</a></li>
  <li><a href="https://angular.love/pl/typed-forms">Typed Forms</a></li>
  <li><a href="https://angular.love/angular-router-everything-you-need-to-know-about">Angular Router – everything you need to know about</a></li>
</ul>
